@model IEnumerable<Dental_Manager.Models.Appointment>
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="wrapper-box" style="padding:1rem">
    <div class="toolBar-control">
    </div>
    <div class="table-infoStaff">
        <h3 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Patient Booking</h3>
        <table class="table-List">
            <tr class="title-infoList">
                <th>AppointmentID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Appoinment Date</th>
                <th>Status</th>
                <th>Appointment Created Date</th>
                <th>Clinic</th>
                <th>Employee</th>
                <th>Action</th>
            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    @if (item.Status == true)
                    {
                        <tr class="item-infoList">
                            <td>@item.AppointmentId</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.AppointmentDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                <p style="color: red">Waiting</p>
                            </td>
                            <td>@item.AppointmentCreatedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.Clinic?.ClinicName</td>
                            <td>@item.Employee?.EmployeeName</td>
                            <td>
                                <button class="btn-delete" onclick="deleteBooking(@item.AppointmentId)">Confirm</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:2rem" class="table-infoStaff">
        <h3 style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">Patient Already Cured</h3>
        <table class="table-List">
            <tr class="title-infoList">
                <th>AppointmentID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Appoinment Date</th>
                <th>Status</th>
                <th>Appointment Created Date</th>
                <th>Clinic</th>
                <th>Employee</th>
            </tr>

            <tbody class="box-tbody">
                @foreach (var item in Model)
                {
                    @if (item.Status == false)
                    {
                        <tr class="item-infoList">
                            <td>@item.AppointmentId</td>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.AppointmentDate?.ToString("dd/MM/yyyy")</td>
                            <td>
                                <p style="color: red">Waiting</p>
                            </td>
                            <td>@item.AppointmentCreatedDate?.ToString("dd/MM/yyyy")</td>
                            <td>@item.Clinic?.ClinicName</td>
                            <td>@item.Employee?.EmployeeName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>

    function navigateTo(action, bookingId) {
        window.location.href = `/ClientBooking/${action}?AppointmentId=${bookingId}`;
    }

    function deleteBooking(bookingId) {
        if (confirm('Are you sure you want to delete this booking?')) {
            var url = `/ClientBooking/Update?AppointmentId=${bookingId}`;

            window.location.href = url;
        }
    }
</script>